/* style.css */

body {
	background: #B6B6B4;
}

#canvas1 {
	background: #D1D0CE;
	touch-action: none;
}

.bigfont {
	font-size: 24pt;
}

#info {
	font-size: 12pt;
	border-radius: 4px;
}

#notice{
	background: #F0F8FF;
	font-size: 12pt;
	border-radius: 4px;
}

#main {
	background: #98AFC7;
	padding: 20px;
	border-radius: 15px;
}
